.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: theme('padding.container');
}

.card {
    width: 1005;
    height: 100%;
    border-radius: 25% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: theme('padding.card');
    background-color: theme('colors.background.default');
    outline: 1px solid theme("colors.primary.main");
}

.card__image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.card__title {
    line-height: 1;
    color: theme("colors.primary.main");
    font-size: theme('fontSize.xl');
    font-weight: theme("fontWeight.semibold");
}

.card__description {
    color: theme("colors.text.secondary");
}

.social_icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social_link {
    cursor: pointer;
    fill: none;
    color: theme('colors.primary.light');
}

.social_link:hover {
    fill: theme('colors.secondary.main');
}